body{
    background: rgb(140, 140, 212);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
div#entradas{
    padding: 2px 10px 5px 10px;
    text-align: center;
}
div#btn_calcular{
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px; 
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}